.header{
    padding-bottom: 20px;
    a{
        text-decoration: none;
        color: #000;
    }
    .top__content{
        display: flex;
        align-items: center;

        p{
            margin-left: 10px;
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            font-weight: bold;

            span{
                font-weight: normal;
            }
        }
    }
}